
{% extends 'index.html' %}

{% block content %}

<style>
    .centered-text {
        text-align: center; /* Center the text horizontally */
        font-size: 32px; /* Set the font size to 32px */
    }
</style>

<div class="centered-text">
    <p>Wrong URL 404 Error</p> 
    <p style="font-size: 20px;">Click <u> <a href={{ url_for('index') }}>here to get back to home page</a></u></p>
    <img src="{{ url_for('static', filename='media/TEMP2.png') }}" alt="Image" class="centered-image" width="200">
</div>

{% endblock content %}